html,
body,
main {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Montserrat';
	font-weight: 400;
}

ul {
	margin: 0;
	padding: 0;
	li {
		padding: 0;
		margin: 0;
		list-style: none;
	}
}

a {
	text-decoration: none;
}

input,
button {
	outline: none;
	border: none;
	box-sizing: content-box;
	&:active,
	&:focus,
	&:hover {
		outline: none;
		border: none;
	}
}
