// Clear default browser settings
p {
	margin: 0;
}
a {
	color: inherit;
	&:hover,
	&:active {
		color: $color-secondary;
	}
}

input {
	font-size: $text-md;
}

h {
	&1,
	&2,
	&3,
	&4,
	&5 {
		font-weight: 700;
		color: $color-dark;
		margin: 0;
	}
	&1 {
		font-size: $heading-1;
		margin-bottom: $heading-1;
	}
	&2 {
		font-size: $heading-2;
		margin-bottom: $heading-2;
	}
	&3 {
		font-size: $heading-3;
		margin-bottom: $heading-3;
	}
	&4 {
		font-size: $heading-4;
		margin-bottom: $heading-4;
	}
	&5 {
		font-size: $heading-5;
		margin-bottom: $heading-5;
	}
}

.h {
	&-1,
	&-2,
	&-3,
	&-4,
	&-5 {
		font-weight: 700;
		color: $color-dark;
		margin: 0;
	}
	&-1 {
		font-size: $heading-1;
		margin-bottom: $heading-1;
	}
	&-2 {
		font-size: $heading-2;
		margin-bottom: $heading-2;
	}
	&-3 {
		font-size: $heading-3;
		margin-bottom: $heading-3;
	}
	&-4 {
		font-size: $heading-4;
		margin-bottom: $heading-4;
	}
	&-5 {
		font-size: $heading-5;
		margin-bottom: $heading-5;
	}
}

.text {
	// size
	&-xl {
		font-size: $text-xl;
	}
	&-lg {
		font-size: $text-lg;
	}
	&-md {
		font-size: $text-md;
	}
	&-sm {
		font-size: $text-sm;
	}

	// color
	&-primary {
		color: $color-primary;
	}
	&-secondary {
		color: $color-secondary;
	}
	&-accent {
		color: $color-accent;
	}
	&-red {
		color: $color-red;
	}
	&-dark {
		color: $color-dark;
	}
	&-white {
		color: $color-white;
	}

	&-bold {
		font-weight: 700;
	}

	// align
	&-center {
		text-align: center;
	}
	&-left {
		text-align: left;
	}
	&-right {
		text-align: right;
	}
}

.bg {
	&-none {
		background: transparent;
	}
	&-primary {
		background-color: $color-primary;
	}
	&-secondary {
		background-color: $color-secondary;
	}
	&-accent {
		background-color: $color-accent;
	}
	&-red {
		background-color: $color-red;
	}
	&-gradiend {
		&-secondary {
			background-color: $gradient-secondary;
		}
		&-accent {
			background-color: $gradient-accent;
		}
		&-purple {
			background-color: $gradient-purple;
		}
		&-dark-1 {
			background-color: $gradient-purple;
		}
		&-dark-2 {
			background-color: $gradient-purple;
		}
	}
}
.container {
	transition: all 0.7s;

	max-width: $screen-xl;

	@media (max-width: $screen-xl) {
		max-width: $screen-md;
	}
	@media (max-width: $screen-md) {
		max-width: $screen-sm;
	}
	@media (max-width: $screen-sm) {
		max-width: $screen-xs;
	}
}

input {
	padding: $padding-input-y $padding-input-x;
	border-radius: $radius-rounded;
	width: 100%;
	background: $color-gray-active;
}
button {
	padding: $padding-button-y $padding-button-x;
	border-radius: $radius-rounded;
	cursor: pointer;
}

.gap {
	&-30 {
		row-gap: 30px;
		column-gap: 30px;
	}
}
