@import './mixin';
.test {
	.section {
		width: 1440px;
		margin: 0 auto;
	}

	.element {
		&-circle {
			position: absolute;
			z-index: 2;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			height: 600px;
			width: 600px;
			margin: auto auto;

			transform-origin: center;

			&-1,
			&-2,
			&-3 {
				height: 420px;
				width: 420px;
			}
			&-1 {
				transform: rotate(120deg);
			}
			&-2 {
				transform: rotate(40deg);
			}
			&-3 {
				transform: rotate(200deg);
			}
			&-4 {
				border-radius: 50%;
				border: 1px dashed #000;
				z-index: 0;
			}

			.circle {
				&--content {
					position: absolute;
					border-radius: 50%;
					border: 1px dashed rgb(212, 48, 163);
					background-color: #eee;
					&-lite {
						width: 180px;
						height: 180px;
						top: -90px;
						left: -90px;
					}
					&-big {
						width: 360px;
						height: 360px;
						left: 0;
						top: 0;
						right: 0;
						bottom: 0;
						margin: auto auto;
					}
				}
			}
		}
	}
	.icon {
		&--wrapper {
			position: absolute;
			z-index: 0;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			height: 914px;
			width: 914px;
			margin: auto auto;
		}
		&--position {
			&-left,
			&-right {
				transform-origin: center;
				&::before {
					content: '';
					position: absolute;
					height: 2px;
					width: 70%;
					background-color: rgb(252, 239, 58);
					transform-origin: left center;
					transform: rotate(45deg);
				}
			}
			&-left {
				&:nth-of-type(2n) {
					height: 724px;
					width: 724px;
				}
				&-1 {
					transform: rotate(360deg);
				}

				&-2 {
					transform: rotate(350deg);
				}

				&-3 {
					transform: rotate(338deg);
				}

				&-4 {
					transform: rotate(330deg);
				}

				&-5 {
					transform: rotate(315deg);
				}

				&-6 {
					transform: rotate(300deg);
				}

				&-7 {
					transform: rotate(292deg);
				}

				&-8 {
					transform: rotate(280deg);
				}

				&-9 {
					transform: rotate(270deg);
				}
			}

			&-right {
				&:nth-of-type(2n-9) {
					height: 724px;
					width: 724px;
				}
				&-1 {
					transform: rotate(90deg);
				}

				&-2 {
					transform: rotate(100deg);
				}

				&-3 {
					transform: rotate(112deg);
				}

				&-4 {
					transform: rotate(120deg);
				}

				&-5 {
					transform: rotate(135deg);
				}

				&-6 {
					transform: rotate(150deg);
				}

				&-7 {
					transform: rotate(158deg);
				}

				&-8 {
					transform: rotate(170deg);
				}

				&-9 {
					transform: rotate(180deg);
				}
			}
		}
		&--element {
			position: absolute;
			top: -40px;
			left: -40px;

			width: 80px;
			height: 80px;
			background-color: rgb(48, 35, 77);
		}
	}
}
