.card {
	&--item {
		position: relative;
		max-width: 450px;
		height: fill-available;
		background: $color-white;
	}
	&--with {
		&--image {
			position: relative;
			width: 100%;
			image {
				image-rendering: -webkit-optimize-contrast;
			}

			.card {
				&--info {
					min-height: 248px;
					padding: 0 60px;
					article {
						margin: 60px auto 60px 0;
						.title {
							width: 340px;
							word-break: keep-all;
						}
					}
				}
			}
		}
	}

	&--info {
		position: relative;
		display: flex;
		border-radius: $radius-rounded-card;
		@include shadow-v1();

		article {
			display: flex;
			flex-direction: column;
			text-align: start;
		}
		.link {
			&--goto {
				position: absolute;
				right: 0;
				bottom: 0;
				display: flex;
				pointer-events: none;
				opacity: 0;
				transition: all 0.2s;
			}
		}
		&:hover {
			.link {
				&--goto {
					pointer-events: all;
					opacity: 1;
				}
			}
		}
	}
}
