.card {
	&--item {
		height: 100%;
		max-width: 100%;
		justify-content: stretch;
		align-items: stretch;
		&-image {
			svg {
				&:first-of-type {
					width: 100%;
					height: fit-content;
					max-width: 100%;
					max-height: fit-content;
				}
			}
		}

		&-info {
			position: relative;
			padding: 56px 56px 56px 36px;
			max-height: 220px;
			min-height: 220px;
			box-sizing: border-box;
			border-radius: $radius-rounded-card;
			background-color: $color-white;
			box-sizing: content-box;
			@include shadow-v2;

			* {
				box-sizing: border-box;
			}

			&:hover {
				.card {
					&--description {
						&-more {
							display: block;
						}
					}
				}
			}
		}
	}

	&--title {
		background: $gradient-dark-1;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		max-height: 90px;
		overflow: hidden;
		h3,
		h4 {
			max-height: 90px;
			overflow-y: hidden;
		}
	}
	&--description {
		&-more {
			display: none;
			position: absolute;
			right: 0;
			bottom: 0;
			height: 150px;
			max-height: 150px;
			max-width: fit-content;
			cursor: pointer;
			img {
				&:first-of-type {
					height: 100%;
				}
			}
		}

		&-inline {
			margin-top: 16px;
			display: inline-flex;
			align-items: center;
			column-gap: 40px;

			span {
				vertical-align: center;
			}
		}
	}
	&--image {
		&-wrapper {
			flex: auto;
			width: 100%;
			height: auto;
			margin-bottom: -15px;
			display: flex;
			object-fit: cover;
			object-position: center;
			overflow: hidden;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}
		min-width: 265px;
		max-height: 265px;
		object-fit: cover;
		object-position: center;
	}
	&--links {
		display: flex;
		flex-direction: row;
		column-gap: 30px;
		justify-content: flex-end;
		align-items: center;
	}
}
