header,
.header {
	width: 100%;
	position: fixed;
	z-index: 1000;

	&--wrapper {
		width: 100%;
		padding: 32px 58px;
		border-radius: 0 0 12px 12px;
		background-color: $color-white;
		@include shadow-v1();
	}

	&--block {
		&-left,
		&-center,
		&-right {
			display: inline-flex;
			align-items: center;
		}

		&-left {
			column-gap: 50px;
		}
		&-center {
			justify-content: center;
		}
		&-right {
			justify-content: end;
		}
	}

	.menu {
		&--list {
			display: inline-flex;
			align-items: center;
			column-gap: 50px;
		}
		&--item {
			&:hover,
			&.active {
				color: $color-secondary;
			}
		}
	}
	.lang {
		&--list {
			display: inline-flex;
			align-items: center;
			column-gap: 16px;
		}
		&--item {
			padding: 6px 10px;
			background: transparent;
			display: flex;
			align-items: center;
			justify-content: center;

			border-radius: $radius-rounded;

			&-active {
				color: $color-white;
				background-color: $color-secondary;
				a {
					&:hover {
						color: $color-white;
					}
				}
			}
		}
	}
}
