.socials {
	&--wrapper {
		margin-bottom: 54px;
	}
}
.btn {
	&--inline {
		column-gap: 36px;
	}
	&-icon {
		width: fit-content;
		height: auto;

		display: flex;
		align-items: center;
		justify-content: center;
	}
}
