.section {
  width: 1440px;
  margin: 0 auto;
}

.section .element {
  position: absolute;
  border-radius: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.section .element--wrapper {
  height: 1200px;
  width: calc(100%-2px);
  position: relative;
  border: 1px solid #7865e2;
}

.section .element .f-element {
  -webkit-transform-origin: center;
          transform-origin: center;
  border-radius: 100%;
  border: 1px solid #100c2e0c;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #7865e2;
  -webkit-box-shadow: 0px 8px 70px rgba(148, 165, 208, 0.25);
          box-shadow: 0px 8px 70px rgba(148, 165, 208, 0.25);
}

.section .element--center-main {
  border-radius: 0;
  width: 380px;
  height: 380px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #7865e2;
}

.section .element--center-main .f-element {
  width: 380px;
  height: 380px;
  margin: auto;
}

.section .element--center-secondary {
  width: 724px;
  height: 724px;
  margin: auto;
  -webkit-transform-origin: center;
          transform-origin: center;
  border: 1px solid #7865e2;
}

.section .element--center-secondary.secondary-1 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section .element--center-secondary.secondary-1 .f-element {
  width: 180px;
  height: 180px;
  left: -90px;
  top: -90px;
  -webkit-transform: rotate(calc(360deg + 180deg));
          transform: rotate(calc(360deg + 180deg));
}

.section .element--center-secondary.secondary-2 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.section .element--center-secondary.secondary-2 .f-element {
  width: 180px;
  height: 180px;
  left: -90px;
  top: -90px;
}

.section .element--center-secondary.secondary-3 {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.section .element--center-secondary.secondary-3 .f-element {
  width: 180px;
  height: 180px;
  left: -90px;
  top: -90px;
  -webkit-transform: rotate(calc(360deg - 40deg));
          transform: rotate(calc(360deg - 40deg));
}

.section .element--left-lite {
  width: 80px;
  height: 80px;
}

.section .element--left-lite .f-element {
  width: 100%;
  height: 100%;
}

.section .element--left-1 {
  left: 180px;
  top: 76px;
}

.section .element--left-2 {
  left: 162px;
  top: 210px;
}

.section .element--left-3 {
  left: 30px;
  top: 256px;
}

.section .element--left-4 {
  left: 112px;
  top: 372px;
}

.section .element--left-5 {
  left: 0px;
  top: 455px;
}

.section .element--left-6 {
  left: 112px;
  top: 542px;
}

.section .element--left-7 {
  left: 30px;
  top: 652px;
}

.section .element--left-8 {
  left: 162px;
  top: 700px;
}

.section .element--left-9 {
  left: 118px;
  top: 832px;
}
