section {
	min-height: 768px;
	margin-bottom: 110px;

	display: flex;

	&.section {
		&-hero {
			height: 100vh;
			background-color: #eee;

			.hero {
				&--image {
					margin: auto auto;
					height: 520px;
					width: auto;
					img {
						object-fit: cover;
					}
				}
			}
		}

		// &-search {
		// }
	}
}
