.section {
	display: flex;
	flex-direction: column;

	&--hero,
	&--search,
	&--direction,
	&--mediagallery,
	&--statistics,
	&--projects,
	&--events {
		margin-bottom: 110px;
	}

	&--hero,
	&--search {
		@include shadow-v1();
	}

	&--hero {
		height: 968px;
	}
	&--search {
		padding: 192px 0;

		&-title {
			margin-bottom: 42px;
		}

		&-description {
			width: 689px;
			margin-bottom: 60px;
		}

		.form {
			width: 585px;
		}
	}

	&--direction {
		.card {
			&--item {
				.title {
					white-space: nowrap;
				}
			}
		}
	}

	&--mediagallery {
		.info {
			&--block {
				&-title {
					margin-bottom: 60px;
				}
				.btn {
					margin-bottom: 30px;
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	// inner
	&--content {
		min-width: 100%;
		&-title {
			margin-bottom: 80px;
			text-align: center;
		}
	}
}
